body { background: #222; color: floralwhite; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
.p-summary, blockquote { border-left: solid greenyellow; margin: 1rem; padding: 0.5rem; }
article { margin: 1%; }
a, h1 { color: greenyellow; }
header { border-bottom: double greenyellow; border-top: double greenyellow; }
#little-something { float: right; position: relative; }
@media (max-width: 700px) {
    #little-something { display: none; }
}
.h-card .u-photo { max-width: 3rem; }